#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .mySwiper {
    position: relative;
  }
  
  .swiper-button-next,
  .swiper-button-prev, .fitur .swiper-button-next,
  .fitur .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    color: #1573D3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .swiper-button-next, .fitur .swiper-button-next {
    right: 35px; 
  }
  
  .swiper-button-prev, .fitur .swiper-button-prev {
    left: 35px;
  }

  .milestone .swiper-button-next {
    right: 0px; 
  }
  
  .milestone .swiper-button-prev {
    left: 0px;
  }

  .mySwiper .swiper-pagination-bullet {
    position: relative;
    width: 12px; 
    height: 12px; 
    background-color: #1573D3; 
    border-radius: 50%; 
    opacity: 0.7;
    transition: opacity 0.2s;
    top: 12px;
  }
  
  .mySwiper .swiper-pagination-bullet-active {
    opacity: 1;
    width: 30px;
    border-radius: 10px;
  }

  .fitur .mySwiper .swiper-pagination-bullet {
    position: relative;
    width: 12px; 
    height: 12px; 
    background-color: #1573D3; 
    border-radius: 50%; 
    opacity: 0.7;
    transition: opacity 0.2s;
    top: -5px;
  }
  
  .fitur .mySwiper .swiper-pagination-bullet-active {
    opacity: 1;
    width: 30px;
    border-radius: 10px;
  }

  .sorotan .mySwiper .swiper-pagination-bullet  {
    position: relative;
    width: 12px; 
    height: 12px; 
    background-color: #1573D3; 
    border-radius: 50%; 
    opacity: 0.7;
    transition: opacity 0.2s;
    top: 10px;
  }
  
  .sorotan .mySwiper .swiper-pagination-bullet-active {
    opacity: 1;
    width: 30px;
    border-radius: 10px;
  }

  #home:hover,
  #about:hover,
  #product:hover,
  #news:hover,
  #contact:hover {
    color: #0A4297; /* Sesuaikan dengan warna teks yang diinginkan pada hover */
    transition: background-color 0.3s ease, color 0.3s ease; /* Efek transisi hover */
  }