@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", cursive;
  background-color: white;
}

header {
    display: flex;
    line-height: 45px;
    margin: 20px 0;
    position: fixed;
    z-index: 999;
  }
  
  .navbar {
    width: 100%;
    margin: auto;
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(1, 1, 1, 0.19);
  }
  
  nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 65px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--primary-color2);
    z-index: 1;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0px 75px 0px 75px;
    padding: 0;
    overflow: hidden;
    display: flex;
  }
  
  nav ul li {
    text-decoration: none;
    padding: 0px 20px;
    color: var(--neutral-white);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  
  nav ul li button {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    height: 45px;
    padding: 0px 15px;
    background: #E5F7F0;
    border: transparent;
    cursor: pointer;
    border-radius: 10px;
  }
  
  nav ul li button:hover {
    background-color: #9ed7c1;
  }
  
  .logo {
    margin: 0px 75px 0px 75px;
    width: 50px;
  }
  
  .box {
    width: 65%;
    text-align: center;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
  }

  .preview{
    background-color: rgb(7,159,247); background: linear-gradient(50deg, rgba(7,159,247,1) 0%, rgba(105,216,252,1) 40%, rgba(21,115,211,1) 100%);
  }
  
.menu-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px 0px 20px;
}

.list-menu {
  margin: auto;
  text-align: center;
  align-items: center;
  width: 20%;
  padding: 20px 0px 20px 0px;
}

.list-menu img {
  margin: auto;
  width: 12%;
  border-radius: 30px;
}

.mySwiper > .swiper-wrapper > .swiper-slide {
    opacity: 0.8;
    z-index: 1;
    transform: scale(0.9);
    transition: all;
}

.mySwiper > .swiper-wrapper > .swiper-slide-active {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
  transition: all;
}


#prevOtherGalleryPopup::after,
	#nextOtherGalleryPopup::after {
		font-size: 28px;
	}

	@media (max-width: 768px) {

		#prevOtherGalleryPopup::after,
		#nextOtherGalleryPopup::after {
			font-size: 16px;
		}

		#prevOtherGalleryPopup,
		#nextOtherGalleryPopup {
			box-sizing: border-box;
			color: white;
			border-radius: 100%;
			background-color: #0093AD;
		}
	}

	#prevOtherGalleryPopup:hover,
	#nextOtherGalleryPopup:hover {
		box-sizing: border-box;
		color: white;
		border-radius: 100%;
		background-color: #0093AD;
	}